{% extends 'admin.html' %}
{% block content %}
<div class="container">
    <a href="{%url 'Product_add' %}">
        <div class="card-catogary">
            <h3> Add Products</h3>
        </div>
    </a>
    <a href="{%url 'product_update'%}">
    <div class="card-catogary">

        <h3> Update Products</h3>
    </div></a>

    <a href="{%url 'product_delete'%}">
    <div class="card-catogary">

        <h3> Delete Products</h3>
    </div>
    </a>
    <a href="{%url 'view_product'%}">
    <div class="card-catogary">

        <h3>View Products</h3>
    </div>
    </a>
</div>
{% endblock %}
{% block admin %}

{% endblock%}